<vex-page-layout mode="simple">
  <vex-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px" vexContainer>
    <div @stagger [fxFlex]="menuWidth" class="sticky top-6" fxHide fxLayout="column" fxShow.gt-sm>
      <mat-list class="navigation" fxFlex="grow">
        <div *ngFor="let item of sidebarMenu">
          <h5 *ngIf="item.type === 'subheader'" @fadeInRight matSubheader>
            {{ item.title }}
          </h5>
          <a *ngIf="item.type === 'link'" (click)="scrollTo(item)" @fadeInRight [class.bg-hover]="item.active"
            [class.text-primary]="item.active" class="list-item mb-2 no-underline flex items-center" matRipple>
            <span>{{ item.title }}</span>
          </a>
        </div>
      </mat-list>
    </div>

    <div @stagger class="max-w-6xl w-full" fxLayout="column" fxLayoutGap="24px">
      <vex-setup-api @fadeInUp></vex-setup-api>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
