<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center" vexContainer>
  <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button">
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <button type="button" [fxHide]="mobileQuery" color="primary" mat-button>
    API MANAGER
  </button>

  <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async" [fxHide]="mobileQuery" class="px-gutter"
    fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
    <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">

    <div class="px-1">
      <button (click)="reloadPage()" color="primary" mat-button type="button" matTooltip="Refresh Page">
        <mat-icon [icIcon]="icRefresh" class="-ml-1 mr-2" size="24px"></mat-icon>
        <span>REFRESH</span>
      </button>
    </div>

    <div class="px-1">
      <div (click)="openPanelProfile()" matRipple
        class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3 hover:bg-hover">
        <div class="body-1 font-medium leading-snug mr-3"> {{ activeProfileName }}</div>
        <div class="rounded-full h-9 w-9 flex items-center justify-center text-primary bg-primary-light">
          <mat-icon [icIcon]="icApiGW"></mat-icon>
        </div>
      </div>
    </div>

    <div class="px-1">
      <vex-toolbar-user (openPanelProfile)="openPanelProfile()"></vex-toolbar-user>
    </div>

  </div>
</div>

<vex-navigation *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async" [fxHide]="mobileQuery">
</vex-navigation>
