<div class="flex flex-col justify-around">
  <div *ngIf="profiles$ | async as profiles" class="profile-panel">
    <h2 class="headline mb-4">
      <ic-icon [icon]="icSettings" class="mr-3" inline="true"></ic-icon>
      <span>Configuration</span>
    </h2>

    <div class="section">
      <h5 class="subheading">PROFILE</h5>
      <mat-radio-group fxLayout="column" fxLayoutGap="12px" (change)="profileChange($event)">
        <mat-radio-button *ngFor="let profile of profiles" [value]="profile" [checked]="profile.active">
          {{ profile.name }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="section">
      <h5 class="subheading">PUBLISHER</h5>
      <mat-radio-group fxLayout="column" fxLayoutGap="12px" (change)="publisherChange($event)">
        <mat-radio-button *ngFor="let user of account?.userPublishers" [value]="user" [checked]="user.active">
          {{ user.username }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="section">
      <h5 class="subheading">API MANAGER</h5>
      <mat-radio-group fxLayout="column" fxLayoutGap="12px">
        <mat-radio-button *ngFor="let user of account?.userApiManagers" [value]="user" [checked]="user.active">
          {{ user.username }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="section">
      <h5 class="subheading">STORE</h5>
      <mat-radio-group fxLayout="column" fxLayoutGap="12px">
        <mat-radio-button *ngFor="let user of account?.userStores" [value]="user" [checked]="user.active">
          {{ user.username }}
        </mat-radio-button>
      </mat-radio-group>

      <div class="section-content">
        <h5 class="subheading">APPLICATIONS</h5>
        <mat-radio-group fxLayout="column" fxLayoutGap="12px">
          <mat-radio-button *ngFor="let user of account?.userStores" [value]="user" [checked]="user.active">
            {{ user.username }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </div>

  <div class="p-gutter">
    <a mat-raised-button class="w-full" color="primary" [routerLink]="['/setup']" (click)="closeProfilepanel()">
      SETUP ACCOUNT
    </a>
  </div>
</div>
