<form (ngSubmit)="submit()" [formGroup]="form" autocomplete="off">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Formulir Properti</h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="mt-3">
      <mat-label>Kode Inisial</mat-label>
      <input #code formControlName="code" matInput maxlength="6" oninput="this.value = this.value.toUpperCase()">
      <mat-hint align="end">{{code.value.length}} / 6</mat-hint>
      <mat-error *ngIf="(formControl.code.touched || submitted) && formControl.code.errors?.required">
        Kode inisial harus diisi
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-3">
      <mat-label>Label</mat-label>
      <input formControlName="label" cdkFocusInitial matInput minlength="1">
      <mat-error *ngIf="(formControl.label.touched || submitted) && formControl.label.errors?.required">
        Label harus diisi
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-button type="submit" [disabled]="!submitable">SIMPAN</button>
  </mat-dialog-actions>
</form>
