<div class="card overflow-auto -mt-16">

  <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
    <div class="flex items-center">
      <button [routerLink]="['.']" class="mr-2" mat-icon-button [loading]="isLoading">
        <mat-icon [icIcon]="icArrowBack" size="24px"></mat-icon>
      </button>
      <p *ngIf="!isLoading" class="text-lg leading-normal">
        <span>{{ model?.name }}</span>
        <span class="ml-2 text-sm text-white bg-primary px-2 py-1 rounded-full">{{ model?.version }}</span>
      </p>
    </div>

    <span fxFlex></span>
    <p *ngIf="!isLoading" class="text-lg leading-normal">
      <span class="ml-2 text-sm px-2 py-1 rounded-full text-orange bg-orange-light">
        {{ model?.provider }}
      </span>
      <span class="ml-2 text-sm px-2 py-1 rounded-full" [ngClass]="statusClass(model?.status)">
        {{ model?.status}}
      </span>
    </p>
    <button class="ml-4" color="primary" fxFlex="none" mat-mini-fab matTooltip="Edit" type="button">
      <mat-icon [icIcon]="icPencil" size="20px"></mat-icon>
    </button>
  </div>

  <div @stagger>
    <mat-tab-group>
      <mat-tab label="Swagger">
        <div id="swagger-ui" class="px-2 -mt-6 mb-4">
          <div class="p-6 mt-6">
            <ngx-shimmer-loading [width]="'20%'" [height]="'60px'" class="block"></ngx-shimmer-loading>
            <ngx-shimmer-loading [width]="'20%'" [height]="'40px'" class="block mt-2"></ngx-shimmer-loading>
            <div class="block mt-1">
              <ngx-shimmer-loading [width]="'10%'" [height]="'20px'" class="mr-2"></ngx-shimmer-loading>
              <ngx-shimmer-loading [height]="'15px'"></ngx-shimmer-loading>
            </div>
            <div class="block mt-1">
              <ngx-shimmer-loading [width]="'10%'" [height]="'20px'" class="mr-2"></ngx-shimmer-loading>
              <ngx-shimmer-loading [height]="'15px'"></ngx-shimmer-loading>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Overview">
        <div class="p-6">
          <jsonforms [data]="model" [schema]="schema" [renderers]="angularMaterialRenderers" [uischema]="uischema"
            readonly="'true'">
          </jsonforms>
          <div class="card p-4">
            <ngx-json-viewer [json]="model"></ngx-json-viewer>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
