<vex-secondary-toolbar current="API Designer">
  <button *ngIf="(errorsSubject | async).length > 0" mat-stroked-button color="warn" (click)="validate()"
    [matBadge]="(errorsSubject | async).length" matBadgeColor="accent">
    VALIDATE
  </button>
  <button *ngIf="(errorsSubject | async).length == 0" mat-raised-button (click)="publish()"
    [disabled]="(draftCountSubject | async) == 0" [loading]="isLoading" color="primary">
    SAVE PUBLISH
  </button>
</vex-secondary-toolbar>
<div class="bg-card" vexContainer>
  <jsonforms [data]="model" [schema]="schema" [uischema]="uischema" [renderers]="renderers"
    (dataChange)="onChange($event)" (errors)="onError($event)">
  </jsonforms>
</div>
