<div (mouseenter)="showHelper = true"
     (mouseleave)="showHelper = false"
     class="card p-6 relative hover:shadow-16 trans-shadow"
     fxLayout="column"
     fxLayoutAlign="start center">

  <div class="w-auto flex">
    {{ statement }}
  </div>

  <h2 *ngIf="value !== null" class="display-2 font-bold mt-4 mb-2">{{ value }}</h2>
  <div *ngIf="value === null" class="justify-center items-center w-8">
    <mat-progress-bar mode="indeterminate" color="accent" class="py-5 my-4"></mat-progress-bar>
  </div>

  <h3 class="subheading-2 font-medium text-secondary m-0">{{ label }}</h3>

  <button *ngIf="showHelper"
          @scaleInOut
          [matTooltip]="helpText"
          matTooltipPosition="above"
          class="absolute -top-3 -right-3 text-hint shadow-0"
          mat-icon-button
          type="button">
    <mat-icon [icIcon]="icHelp" height="30px" width="30px"></mat-icon>
  </button>
</div>
