<div class="card p-5 relative hover:shadow-16 trans-shadow"
     fxLayout="column"
     fxLayoutAlign="start center">

  <div *ngIf="isLoading" class="justify-center items-center w-8 m-10">
    <mat-progress-bar mode="indeterminate" color="accent" class="p-11 py-5 my-4"></mat-progress-bar>
  </div>

  <apx-chart *ngIf="!isLoading"
             [series]="chartOptions.series"
             [chart]="chartOptions.chart"
             [labels]="chartOptions.labels"
             [grid]="chartOptions.grid"
             [legend]="chartOptions.legend"
             [plotOptions]="chartOptions.plotOptions"
             [responsive]="chartOptions.responsive"></apx-chart>

  <button *ngIf="helpText"
          [matTooltip]="helpText"
          class="absolute top-0 left-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button">
    <mat-icon [icIcon]="icHelp" height="18px" width="18px"></mat-icon>
  </button>
</div>
