<div class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/default/MasherMan Logo.png">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Halo, selamat datang di</h2>
      <h2 class="title m-0">MasherMan</h2>
      <h4 class="body-2 text-secondary m-0">Login dengan akun Anda sekarang</h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput required (keyup.enter)="btnLogin.focus()" name="email">
          <mat-error *ngIf="form.get('email').hasError('required')">Email harus diisi</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input [type]="inputType" formControlName="password" matInput required (keyup.enter)="btnLogin.focus()"
            name="password">
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Klik icon mata untuk melihat password</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">Password harus diisi</mat-error>
        </mat-form-field>
      </div>

      <!-- <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Ingat Saya</mat-checkbox>
      </div> -->

      <div *ngIf="error" class="text-red text-center mt-3 mb-0">{{ error }}</div>

      <button (click)="send()" color="primary" mat-raised-button type="button" [loading]="isLoading" #btnLogin>
        LOGIN
      </button>
    </div>
  </div>
</div>
