<div class="card p-6 relative hover:shadow-16 trans-shadow"
     fxLayout="column"
     fxLayoutAlign="start center">
  <div [ngClass]="iconClass" class="rounded-full w-12 h-12 flex items-center justify-center">
    <mat-icon [icIcon]="icon"></mat-icon>
  </div>

  <h2 *ngIf="!isLoading" class="display-2 font-bold mt-4 mb-2">{{ value }}</h2>
  <div *ngIf="isLoading" class="justify-center items-center w-8">
    <mat-progress-bar mode="indeterminate" color="accent" class="py-5 my-4"></mat-progress-bar>
  </div>

  <h3 class="subheading-2 font-medium text-secondary m-0">{{ label }}</h3>

  <button *ngIf="helpText"
          [matTooltip]="helpText"
          class="absolute top-0 left-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button">
    <mat-icon [icIcon]="icHelp" height="18px" width="18px"></mat-icon>
  </button>
</div>
