<span class="card" fxLayout="column" fxLayout.gt-sm="row">

  <div class="p-6" fxFlex="50%">
    <form [formGroup]="form" autocomplete="off">
      <h2 class="title mt-0 mb-4">API CONFIG</h2>

      <div fxLayout="column" fxLayoutAlign="space-between center">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>API Config URL</mat-label>
          <input type="text" formControlName="proxyApi" matInput placeholder="https://..." required>
          <mat-error *ngIf="formControl.proxyApi.touched && formControl.proxyApi.errors?.required">
            Config URL harus diisi
          </mat-error>
          <mat-hint>API for getting profiles</mat-hint>
        </mat-form-field>

      </div>

      <div fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-stroked-button type="button" (click)="reset()" [disabled]="resetable">Reset</button>
        <button mat-stroked-button color="primary" type="button" (click)="submit()"
          [disabled]="!submitable">Fetch</button>
      </div>
    </form>
  </div>

  <div class="border-l" fxFlex="50%">
    <div class="p-6">
      <h2 class="title mt-0 mb-4">Description</h2>
      <p class="text-secondary">
        Information of URL Wso2 API.
        For mor detail please access to :
        <a href="https://docs.wso2.com/display/AM250/RESTful+APIs" target="_blank">
          <u class="text-cyan">WsO2 v2.50 Docs</u>
        </a>
        <br>
        for other version: <a href="https://apim.docs.wso2.com/en/versions/" target="_blank">
          <u class="text-cyan">WsO2 Docs</u>
        </a>
      </p>
    </div>
  </div>
</span>
