<div class="card overflow-auto -mt-16">

  <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center"
    fxLayoutGap="8px">
    <div class="flex items-center">
      <button [routerLink]="['.']" class="mr-2" mat-icon-button [loading]="isLoading">
        <mat-icon [icIcon]="icArrowBack" size="24px"></mat-icon>
      </button>
      <p *ngIf="!isLoading" class="text-lg leading-normal">
        <span>{{ model?.name }}</span>
        <span class="ml-2 text-sm text-white bg-primary px-2 py-1 rounded-full">{{ model?.version }}</span>
      </p>
    </div>

    <span fxFlex></span>
    <p *ngIf="!isLoading" class="text-lg leading-normal">
      <span class="ml-2 text-sm px-2 py-1 rounded-full text-orange bg-orange-light" matTooltip="Vendor">
        {{ model?.provider }}
      </span>
      <span class="ml-2 text-sm px-2 py-1 rounded-full" [ngClass]="statusClass(model?.status)" matTooltip="Status">
        {{ model?.status}}
      </span>
    </p>
    <button color="primary" fxFlex="none" mat-mini-fab matTooltip="Documentation" (click)="createDocs()">
      <mat-icon [icIcon]="icFile" size="20px"></mat-icon>
    </button>
    <a color="primary" fxFlex="none" mat-mini-fab matTooltip="Edit" [routerLink]="['/publisher/edit']"
      [queryParams]="{apiIds: model?.id}" type="button">
      <mat-icon [icIcon]="icPencil" size="20px"></mat-icon>
    </a>
  </div>

  <div @stagger>
    <mat-tab-group dynamicHeight (selectedIndexChange)="tabChange($event)">
      <mat-tab label="Overview">
        <div *ngIf="isLoading" class="p-6">
          <div class="block mt-1">
            <ngx-shimmer-loading [height]="'45px'" [width]="'50%'"></ngx-shimmer-loading>
            <ngx-shimmer-loading [height]="'45px'" [width]="'50%'"></ngx-shimmer-loading>
          </div>
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
          <ngx-shimmer-loading [height]="'100px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
        </div>
        <div @fadeInUp *ngIf="!isLoading" class="p-6">
          <jsonforms [data]="model" [schema]="schema" [renderers]="renderers" [uischema]="uischema" readonly="'true'">
          </jsonforms>
        </div>
      </mat-tab>
      <mat-tab label="Raw JSON">
        <mat-slide-toggle class="p-6" (change)="togleJsonView($event)" [checked]="isShowJsonRaw" color="primary">
          Raw JSON
        </mat-slide-toggle>
        <div class="p-6" *ngIf="isShowJsonRaw">
          <json-editor [options]="options" [data]="model"></json-editor>
        </div>
        <div class="p-gutter" *ngIf="!isShowJsonRaw">
          <ngx-json-viewer [json]="model"></ngx-json-viewer>
        </div>
      </mat-tab>
      <mat-tab label="Subscriptions">

        <div *ngIf="isLoading" class="p-6">
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
          <ngx-shimmer-loading [height]="'40px'" [width]="'100%'" class="block"></ngx-shimmer-loading>
        </div>

        <div *ngIf="!isLoading" class="p-6 bg-card">
          <div *ngIf="subscribers?.length === 0" @scaleFadeIn
            class="flex-auto flex flex-col justify-center items-center">
            <h2 class="headline m-0 text-center">This account has no applications</h2>
          </div>

          <div @fadeInUp fxLayout="column">
            <div @stagger class="p-2 border-b" *ngFor="let item of subscribers" fxLayout="row"
              fxLayoutAlign="start center" fxLayoutGap="8px">
              <div @fadeInRight fxFlex="auto">
                <h4 class="body-2 m-0 leading-snug">
                  <a [routerLink]="['/store/application']" [queryParams]="{appId: item?.applicationId}"
                    class="text-cyan underline">
                    {{ getApplicationName(item.applicationId) }}
                  </a>
                </h4>
                <h5 class="text-secondary m-0 caption leading-none" *ngIf="item.subscriptionId">
                  {{ item.tier }} - {{ item.status }}
                </h5>
              </div>

              <button class="rounded-full" color="primary" type="button" fxFlex="none" mat-raised-button type="button"
                (click)="subscribe(item)" *ngIf="!item.subscriptionId">SUBSCRIBE</button>

              <button class="rounded-full" color="primary" type="button" fxFlex="none" mat-raised-button
                (click)="approve(item)" *ngIf="item.status === 'ON_HOLD'">APPROVE</button>

              <button class="rounded-full" color="warn" type="button" fxFlex="none" mat-raised-button
                (click)="unsubscribe(item)" *ngIf="item.subscriptionId" type="button">UNSUBSCRIBE</button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
