@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
@import "./@vex/styles/core";

@import '~jsoneditor/dist/jsoneditor.min.css';

/**
  Class directive for mat button loading
 */
.mat-loading {
	.mat-button-wrapper {
		visibility: hidden;
	}
	.mat-progress-spinner {
		position: absolute;
		top: calc(50% - 10px);
		left: calc(50% - 10px);
	}
}

