<vex-page-layout>

  <vex-page-layout-header class="pb-4 pt-6" fxLayout="column">
    <div class="w-full flex flex-col sm:flex-row justify-between gap-3">
      <h2 class="flex-auto headline text-primary-contrast m-0 flex items-center mr-6">
        <ic-icon @scaleIn [icon]="icStore" class="hidden sm:block"></ic-icon>
        <span @fadeInRight class="ml-4 block">Store</span>
      </h2>

      <a href="{{ activeProfile.portalUrl }}/manage-service" mat-raised-button
        class="flex-none bg-contrast-white text-cyan hidden sm:block py-1 px-4" target="_blank">
        <mat-icon [icIcon]="icGlobe" size="18px" inline="true" class="mr-1"></mat-icon> MANAGE
      </a>

      <a href="{{ activeProfile.portalUrl }}/store/apis/list" mat-raised-button
        class="flex-none bg-contrast-white text-orange hidden sm:block py-1 px-4" target="_blank">
        <mat-icon [icIcon]="icGlobe" size="18px" inline="true" class="mr-1"></mat-icon> STORE
      </a>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6" *ngIf="!(isLoadApiDetail | async)">

    <div class="card overflow-auto -mt-16">
      <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title my-0 pr-4 mr-4 border-r" fxFlex="none" fxHide.xs>
          <span *ngIf="selection.isEmpty()">Store</span>
          <span mat-stroked-button *ngIf="selection.hasValue()">{{ selection.selected.length }}
            API<span *ngIf="selection.selected.length > 1">s</span> selected
            <mat-icon [inline]="'true'" color="warn" [icIcon]="icRemove" class="cursor-pointer"
              (click)="selection.clear()" matTooltip="Clear selection"></mat-icon>
          </span>
        </h2>

        <div *ngIf="selection.hasValue()" class="mr-4 pr-4 border-r" fxFlex="none">
          <button (click)="subscribes(selection.selected)" class="rounded-full" color="primary" mat-raised-button
            type="button" matTooltip="Subscribe APIs">
            <ic-icon [icon]="icFolderPlush" class="-ml-1 mr-2" inline="true" size="16px"></ic-icon>
            <span>Subscribe</span>
          </button>
          <button (click)="batchEdit(selection.selected)" class="ml-2 rounded-full" color="primary" mat-raised-button
            type="button" matTooltip="Edit APIs">
            <ic-icon [icon]="icEdit" class="-ml-1 mr-2" inline="true" size="16px"></ic-icon>
            <span><span *ngIf="selection.selected.length > 1">Batch </span>Edit</span>
          </button>
          <button (click)="batchEdit(selection.selected, true)" class="ml-2 rounded-full" color="primary"
            mat-raised-button type="button" matTooltip="Edit APIs">
            <ic-icon [icon]="icCopy" class="-ml-1 mr-2" inline="true" size="16px"></ic-icon>
            <span><span *ngIf="selection.selected.length > 1">Batch </span>Copy</span>
          </button>
        </div>

        <div class="bg-card rounded-full border px-4" fxFlex="400px" fxFlex.lt-md="auto" fxHide.xs fxLayout="row"
          fxLayoutAlign="start center">
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input [formControl]="searchCtrl" class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Type and enter to search" type="search" (keydown.enter)="onSearch()">
          <ic-icon [icon]="icClear" *ngIf="searchCtrl.value" (click)="searchCtrl.reset();onSearch()"
            class="text-secondary flex-none mr-2 cursor-pointer" size="20px"></ic-icon>
          <ic-icon [icon]="icInfo" class="text-secondary flex-none cursor-pointer" size="20px"
            matTooltip="Advance search with prefix `context:`, `provider:`, `tags:`. Default search by Name"
            matTooltipPosition="above">
          </ic-icon>
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button [matMenuTriggerFor]="columnFilterMenu" class="ml-4" fxFlex="none" mat-icon-button
          matTooltip="Filter Columns" type="button">
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>

        <button class="ml-4" color="primary" fxFlex="none" mat-mini-fab matTooltip="Publish New API"
          [routerLink]="['/publisher', 'add']" type="button">
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="w-full" mat-table matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-4" mat-cell (click)="$event.stopPropagation()">
            <mat-checkbox (change)="$event ? selection.toggle(row) : null" (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)" color="primary">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="thumbnailUri">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-8 min-w-8 pr-0" mat-cell>
            <img [src]="row.property || 'assets/img/default/default-img-thumb.png'" class="avatar h-8 w-8 align-middle">
          </td>
        </ng-container>

        <!-- Simple Type -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <!-- Text Columns -->
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef class="uppercase" mat-header-cell> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>

        </ng-container>

        <!-- Portal Column -->
        <ng-container matColumnDef="portal">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" mat-cell>
            <a (click)="$event.stopPropagation()" mat-icon-button matTooltip="Go to Portal" matTooltipPosition="above"
              [href]="getPortalLink(row)" target="_blank"
              class="w-8 h-8 leading-none flex items-center justify-center hover:bg-hover text-orange bg-orange-light">
              <mat-icon [icIcon]="icGlobe" size="18px"></mat-icon>
            </a>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef class="uppercase" mat-header-cell>Status</th>
          <td *matCellDef="let row" mat-cell>
            <div (click)="$event.stopPropagation()" fxLayoutAlign="start center" fxLayoutGap="4px">
              <div class="rounded px-2 py-1 font-medium text-xs" fxFlex="none" [ngClass]="statusClass(row.status)">
                {{ row.status }}
              </div>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: visibleColumns;" @fadeInUp [routerLink]="['.']"
          [queryParams]="{apiId: row.id}" class="hover:bg-hover trans-ease-out cursor-pointer" mat-row>
        </tr>
      </table>

      <div *ngIf="isLoading" @scaleFadeIn class="flex-auto flex flex-col justify-center items-center p-20">
        <mat-progress-spinner mode="indeterminate" class="text-left"></mat-progress-spinner>
      </div>

      <div *ngIf="!isLoading && (dataSource.filteredData.length === 0)" @scaleFadeIn
        class="flex-auto flex flex-col justify-center items-center">
        <img class="mx-12 mt-12 h-64" src="assets/img/illustrations/idea.svg" />
        <h2 class="headline m-0 text-center">
          No record found!
        </h2>
      </div>

      <mat-paginator [length]="pagination?.pagination?.total" showFirstLastButtons="'true'"
        [pageSizeOptions]="pageSizeOptions" (page)="refreshDataPaging($event)" class="sticky left-0"
        [pageSize]="this.pageEventSubject.value?.pageSize || 10" [pageIndex]="this.pageEventSubject.value?.pageIndex">
      </mat-paginator>
    </div>

  </vex-page-layout-content>

  <vex-page-layout-content class="-mt-6" *ngIf="isLoadApiDetail | async">
    <vex-store-list-detail></vex-store-list-detail>
  </vex-page-layout-content>

</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button (click)="toggleColumnVisibility(column, $event)" *ngFor="let column of columns"
    class="checkbox-item mat-menu-item">
    <mat-checkbox (click)="$event.stopPropagation()" [(ngModel)]="column.visible" color="primary">
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>
